.video-img-dd{
	display: inline-flex;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	width: 100%;
	position: relative;
}

.video-img-dd:hover .caption-action{
	visibility: visible;
}
.list-img{
	padding: 0 15px;
}
.list-img .img-caption{
	padding-left: 10px;
}

.list-img .img-caption h2{margin-top: 0;}
.list-img .caption-action{
	position: absolute;
	width: 25px;
	height: 100%;
	background: #000;
	opacity: 0.7;	
	top: 0;
	right:0;
	text-align: center;
	visibility: hidden;
	transition:all 0.3s ease;
}
.list-img .caption-action span{
	margin-top: 10px;
	color:#fff;	
	cursor: pointer;
}